@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import 'normalize.scss';
html,
body{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    color: #fff; 
    min-height: 100%;
	max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
body.lock{
    overflow:hidden;
}
.wrapper {
    height: 100%;
    width: 100%;
    background-color: #fff;
}
.preloader {
   
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #e0e0e0;
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }
.main {
    min-height: 100%;
	max-width: 100%;
    padding-bottom: 37px;
    &__content {
        margin-top: 35px;
        text-align: center;
        transition: 0.2s;
        &.active{
            filter: blur(5px);
        }
    }
    &__container {
        background-image: url("../images/main/Tesla-background.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: 25px;
    }

    &__column {
    }

    &__text {
        text-align: center;
    }
    &__title {
        color: #000;
        font-size: 90px;
        font-family: Montserrat;
        font-weight: 600;
        line-height: 110px;
        letter-spacing: 0em;
    }

    &__subtitle {
        font-family: Montserrat;
        font-size: 15px;
        color: #000;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0em;
    }

    &__row {
        display: flex;
        justify-content: center;
        margin-top: 502px;
        align-items: center;
        margin-bottom: 38px;
    }

    &__left {
        display: flex;
        & div:last-child{
            margin-right: 0px;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        margin-right: 80px;
        & img{
            margin-right: 14px;
        }
    }
    &__info-text{

    }
    &__info-top {
        color: #000;
        font-family: Montserrat;
        font-size: 35px;
        font-weight: 600;
        line-height: 43px;
        & span{
            font-size: 20px;
            line-height: 24px;
        }
    }

    &__info-bottom {
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        color: #000;
        text-align: left;
    }

    &__right {
        margin-left: 105px;
        display: flex;
        align-items: center;
    }

    &__testdrive {
        align-items: center;
        display: flex;
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 700;
        line-height: 16px;
        color: #000;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        text-transform: uppercase;
        margin-right: 40px;
    }

    &__button {
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 700;
        line-height: 16px;
        color: #E51937;
        text-transform: uppercase;
        padding: 11px 40px;
        border: 2px solid #E51937;
        transition: 0.2s;
        &:hover{
            transition: 0.2s;
            color: #fff;
            background-color: #E51937;
            border: 2px solid #fff;
        }
    }
    &__arrow {
    }
    @media(max-width: 1024px){
        &__container {
            background-position-y: 85px;
        }
        &__row{
            flex-direction: column;
            margin-bottom: 63.5px;
        }
        &__right {
            margin-left: 0px;
            margin-top: 55px;
        }
        &__button {     
            color: #fff;
            background-color: #E51937;
            border: 2px solid #fff;
            &:hover{
                color: #E51937;
                background-color: #fff;
                border: 2px solid #E51937;
            }
        }
        &__info-top{
            font-size: 50px;
        }
        &__testdrive{
            color: #E51937;
            filter: none;
        }
        .icon-steering-wheel:before{
            filter: none;
        }
    }
    @media(max-width: 1023px){
        &__container{
            background-position-y: 200px;
        }
    }
    @media(max-width: 767px){
        &__container{
            background-position-y: 100px;
        }
        &__row{
            margin-bottom: 34px;
            margin-top: 233px;
        }
        &__right {    
            margin-top: 34px;
        }
        &__info-top{
            font-size: 27px;
            & span{
                font-size: 15px;
            }
        }
        &__title{
            font-size: 50px;
            line-height: 61px;
        }
        &__subtitle{
            font-size: 10px;
            line-height: 12px;
        }
        &__info {
            display: flex;
            align-items: center;
            margin-right: 30px;
            & img{
                margin-right: 14px;
            }
        }
        &__info-top {
            line-height: 31px;
        }
        &__testdrive {
            margin-right: 25px;
        }
    
    }
    @media(max-width: 320px){
        &__row{
            margin-bottom: 34px;
            margin-top: 233px;
        }
        &__right {    
            margin-top: 34px;
        }
        &__info-top{
            font-size: 27px;
            & span{
                font-size: 15px;
            }
        }
        &__info {
            margin-right: 10px;
        }
        &__info-top {
            line-height: 31px;
        }
    }
}
.icon-steering-wheel:before {
    position: relative;
    display: block;
    margin-right: 7px;
    font-size: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
@media(max-width: 1024px){
    .icon-steering-wheel:before{
        filter: none;
    }
}
.header {
    padding: 24px 0px 24px 0px;
	&__container {
	}

	&__navigation {
        display: flex;
        align-items: center;
        box-sizing: border-box;
	}

	&__logo {
        transition: 0.2s;
        &.active{
            filter: blur(5px);
        }
	}

	&__menu {
        display: flex;
        flex: 1 1 auto;
        justify-content: flex-end;
	}
	&__menu-left {
        display: flex;
        margin-right: 221px;
        transition: 0.2s;
        & li{
            margin-right: 44px;
        }
        & li:last-child{
        margin-right: 0px;
        }
        &.active{
            filter: blur(5px);
        }
        & a:hover{
            color: #E51937;
        }
	}

	&__item {
        white-space: nowrap;
        font-family: Montserrat;
        font-size: 15px;
        color: #000;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0em;
        transition: 0.2s;
    }
    &__item-left-active{
        &:hover{
            padding-bottom: 6px;
            border-bottom: 2.5px solid #E51937;
            border-radius: 2.5px;     
        }
    }
    &__menu-right {
        display: flex;
        margin-right: 30px;
        transition: 0.2s;
        & li{
            margin-right: 30px;
        }
        & li:last-child{
            margin-right: 0px;
        }
        &.active{
            filter: blur(5px);
        }
        & a:hover{
            color: #E51937;
        }
    }
    &__menu-burger{
        position: fixed;
        display: block;
        right: -300%;
        flex-direction: column;
        top: 0;
        transition: 0.2s;
        opacity: 0;
        filter: none;
    }
    &__menu-burger.active{
        right: 0;
        width: 20%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        opacity: 1;
        padding-top: 35px;
    }
    &__menu-burger-items{
        padding-top: 75px;
        padding-left: 50px;
        & li{
            transition: 0.2s;
            margin-bottom: 30px;
        }
    }
    &__item-burger{
        color: #fff;
    }
    &__menu-burger-close{
        position: absolute;
        opacity: 0;
        right: 0;
        right: 25px;
        width: 20px;
        height: 20px;
    }
    &__menu-burger-close.active{
        opacity: 1;
        &.active:before{	
            content: '';
            position: absolute;
			transform: rotate(45deg);
			top: 7px;
			width: 25px;
			height: 2.5px;
			background-color: #fff;
		}
		&.active:after{
            content: '';
            position: absolute;
			transform: rotate(-45deg);
			top: 7px;
			width: 25px;
			height: 2.5px;
			background-color: #fff;
		}
    }
    &__burger{
        & img{
            transition: 0.3s;
        }
    }
    &__burger.active{
        & img{
            opacity: 0;
        }
    }
    @media(max-width: 1340px){
        &__burger{
            margin-right: 15px;
        }
    }
    @media(max-width:1024px){
        &__navigation{
            justify-content: space-between;
        }
        &__logo{
            margin-right: 15px;
            margin-left: 15px;
        }
        &__burger{
            margin-right: 33px;
            & img{
                width: 35px;
                height: 22px;
            }
        }
        &__menu {
            position: fixed;
            display: block;
            transition: 0.3s;
            right: 0;
            z-index: 5;
            flex: 0 0 100%;
            
            top: -300%;
            left: 0;
            flex-direction: column;
            text-align: center;
            padding: 100px 0px;
            max-height: 100vh;
            overflow-y: auto;
        }
        &__menu.active{
            background-color: rgba(0, 0, 0, 0.82);
            top: 0;         
        }
        &__item{
            font-size: 18px;
            color: #fff;
        }
        &__menu-left{
           
            flex-direction: column;
            margin-right: 0px;
            &.active{
                filter: none;
            }
            & li{
                margin-right: 0px;
                margin-bottom: 30px;
            }
        }
        &__menu-right{
            margin-top: 50px;
            min-height: 230px;
            margin-right: 0px;
            flex-direction: column;
            &.active{
                filter: none;
            }
            & li{
                margin-bottom: 30px;
                margin-right: 0px;
            }
            & li:last-child{
                margin-bottom: 0px;
            }
        }
        &__menu-burger{
            all: initial;
        }
        &__menu-burger.active{
            all: initial;
           
            & li{
                margin-left: 0px;
            }
        }
        &__menu-burger-items{
            text-align: center;
            padding: 0px;
        }
        &__menu-burger-close{
            top: 35px;
            right: 45px;
        }
     }
}
.container{
    max-width: 1320px;
    margin: 0 auto;
}
.characteristics {
}
.characteristics-top {
    background-color: #E51937;
		&__container {
		}

		&__content {
            display: flex;
            max-width: 1920px;
            margin: 0 auto;
		}

		&__left {
            position: relative;
            flex: 0 0 69.4%;
            @media(max-width: 1400px){
                margin-right: -50px;
            }
		}

		&__title {
            position: absolute;
            font-family: Montserrat;
            font-size: 70px;
            font-weight: 600;
            line-height: 85px;
            letter-spacing: 0em;
            color: #E51937;
            margin-left: 80px;
            margin-top: 64px;
		}

		&__image {
            height: 100%;
            & img{
                max-width: 100%;
                object-fit: cover;
                min-height: 100%;
            }
		}

		&__right {
            position: relative;
            z-index: 2;
            background-color: #E51937;
            padding: 51px 44px 63px 49px;
            flex: 0 0 30.6%;
            box-sizing: border-box;
		}
        &__section{
            margin-bottom: 136px;
            margin-left: 3px;
        }
		&__text {
		}

		&__subject {
            margin-bottom: 11px;
		}

		&__desc {
		}

		&__column {
            margin-top: 54px;
		}

		&__characteristic {
            display: flex;
            margin-bottom: 35px;
            max-width: 269px;
            align-items: center;
		}

		&__icon {
            margin-right: 20px;
            width: 36px;
		}

		&__info {

		}

		&__info-top {
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 600;
            line-height: 17px;
            & span{
                font-size: 35px;
            }
            margin-bottom: 5px;
		}

		&__info-bottom {
            font-family: Montserrat;
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
            max-width: 127px;
		}

		&__row {
		}

		&__leanmore {
		}

		&__btn {
		}
        @media(max-width: 1024px){
            &__left{
                flex: 0 1 auto;
            }
            &__title {
                right: 0px;
                margin-top: 24px;
                margin-right: 98px;
            }
            &__right {
                padding: 56px 61px 51px 34px;
                flex: 0 1 auto;
            }
            &__content{
                flex-direction: column;
            }
            &__left{
                flex: 0 1 auto;
            }
            &__section{
                display: flex;
                align-items: center;
                margin-bottom: 61px;
                justify-content: space-between;
            }
            &__column {
                margin: 0px;
            }
            &__subject {
                margin-bottom: 21px;
            }
            &__text {
                margin-top: -50px;
            }
        }
        @media(max-width: 767px){
            &__title {
                display: none;
            }
            &__right {
                padding: 18px 25px 34px 25px;
            }
            &__section{
                margin-bottom: 0px;
            }
            &__subject {
                margin-bottom: 9px;
            }
            &__text {
                margin-top: 0px; 
            }
            &__characteristic{
                display: none;
            }
        }
}

.block {

		&__content {
		}

		&__text {
            max-width: 316px;
		}

		&__subject {
            font-family: Montserrat;
            font-size: 30px;
            font-weight: 600;
            line-height: 37px;
		}

		&__desc {
            font-family: Montserrat;
            font-size: 15px;
            font-weight: 500;
            line-height: 18px;
		}

		&__row {
            display: flex;
            align-items: center;
		}

		&__learnmore {
            display: flex;
            align-items: center;
            text-decoration: none;
            font-family: Montserrat;
            font-size: 13px;
            font-weight: 700;
            line-height: 16px;
            color: #fff;
            & span{
                display: block;
                height: 22px;
                width: 22px;
                border: 2px solid #FFFFFF;
                box-sizing: border-box;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
            }
		}

        &__btn {
            margin-left: 30px;
            font-family: Montserrat;
            font-size: 13px;
            font-weight: 700;
            line-height: 16px;
            color: #fff;
            text-transform: uppercase;
            padding: 11px 40px;
            border: 2px solid #fff;
            transition: 0.2s;
            &:hover{
                color: #E51937;
                background-color: #fff;
                border: 2px solid #fff;
            }
        }
        @media(max-width: 1024px){
            &__row{
                justify-content: center;
            }
            &__btn{
                margin-left: 36px;
            }
        }
        @media(max-width: 767px){
            &__row{
                display: none;
            }
        }
}
.characteristics-bottom {
    &__container {
    }

    &__content {
        display: flex;
        max-width: 1920px;
        margin: 0 auto;
    }

    &__left {
        position: relative;
        z-index: 2;
        background-color: #E51937;
        padding: 51px 44px 63px 38px;
        flex: 0 0 30.6%;
        box-sizing: border-box;
        
    }

    &__section {
        margin-left: 22px;
        margin-bottom: 102px;
    }

    &__text {
        margin-bottom: 49px;
    }

    &__subject {
        margin-bottom: 12px;
    }

    &__desc {
    }

    &__ratings {
        
    }

    &__ratings-title {
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 600;
        line-height: 37px;
        margin-bottom: 29px;
    }

    &__rating {
        position: relative;
        font-family: Montserrat;
        font-size: 17px;
        font-weight: 700;
        line-height: 21px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        max-width: 291px;
        margin-bottom: 16px;
    }
    &__rating-span{
        position: absolute;
        left: 70px;
        margin-top: 7px;
        font-size: 10px;
        line-height: 12px;
        color: rgba(255, 255, 255, 0.7);
    }
    &__security {
        display: flex;
        margin-bottom: 51px;
        margin-left: 22px;
    }

    &__security-icon {
        margin-right: 23px;
    }

    &__security-text {
        font-family: Montserrat;  
        font-weight: 600;         
        font-size: 50px;
        & span{
            display: block;
            font-size: 25px;
            line-height: 30px;
        }
    }

    &__row {
    }

    &__leanmore {
    }

    &__btn {
    }

    &__right {
        position: relative;
        flex: 0 0 69.4%;
        padding: 223px 0px 137px 0px;
        z-index: 2;
        & span{
            position: absolute;
            display: block;
            z-index: 3;
            max-width: 172px;
            font-family: Montserrat;
            font-size: 17px;
            font-weight: 600;
            line-height: 15px;
            color: #000;
            &:before{
                content: '';
                position: absolute;
                background-color: #E51937;
                width: 4px;
            }
            &:after{
                content: '';
                position: absolute;
                background: #FFFFFF;
                border: 3px solid #E51937;
                box-sizing: border-box;
                width: 14px;
                height: 14px;
                border-radius: 50%;
            }
        }
        & span:nth-child(1){
           left: 180px;
           height: 271px;        
            &:before{
                height: 271px;
                left: -11px;
            }
            &:after{
                bottom: -7px;
                left: -15px;
            }
        }
        & span:nth-child(2){
            left: 458px;
            top: 175px;
            &:before{
                height: 122px;
                left: -11px;
            }
            &:after{
                top: 120px;
                left: -15px;
            }
        }
        & span:nth-child(3){
            bottom: 100px;
            left: 514px;
            max-width: 233px;
            height: 108px;
            &:before{
                height: 108px;
                left: -11px;
                bottom: 80px;
            }
            &:after{
                top: -90px;
                left: -16px;
            }
        }
    }

    &__title {
        position: absolute;
        right: 0;
        font-family: Montserrat;
        font-size: 200px;
        font-weight: 600;
        white-space: nowrap;
        color: rgba(229, 25, 55, 0.1);
        top: 97px;
    }

    &__image {
        position: absolute;
        z-index: 2;
        margin-left: -100px;
        & img{
            max-width: 100%;
            object-fit: cover;
        }
    }
    @media(max-width: 1024px){
        &__left {
            padding: 63px 55px 63px 34px;
            flex: 0 1 auto;
            order: 2;
        }
        &__content{
            flex-direction: column;
        }
        &__right{
            flex: 0 1 auto;
            order: 1;
            padding: 114px 0px 38px 0px;
            & span{
                max-width: 80px;
                font-size: 10px;
                line-height: 9px;
                &:before{
                    width: 3px;
                }
                &:after{
                    border: 1px solid #E51937;
                    width: 10px;
                    height: 10px;
                }
            }
            & span:nth-child(1){
                margin-top: 7px;
                left: 203px;
                height: 193px;        
                &:before{
                    height: 193px;
                    left: -7px;
                }
                &:after{
                    bottom: -5px;
                    left: -10px;
                }
            }
            & span:nth-child(2){
                top: 100px;
                left: 408px;
                height: 87px;
                &:before{
                    height: 87px;
                    left: -7px;
                }
                &:after{
                    bottom: -1px;
                    top: auto;               
                    left: -10px;
                }
            }
            & span:nth-child(3){
                bottom: 55px;
                left: 448px;
                max-width: 120px;
                height: 77px;
                &:before{
                    height: 37px;
                    left: -7px;
                    bottom: 77px;
                }
                &:after{
                    top: -38px;
                    left: -10px;
                }
            }
        }
        &__section{
            margin-bottom: 61px;
            display: flex;
            align-items: center;
            justify-content: space-between;

        }
        &__image{
            position: relative;
            margin-left: 0px;
        }
        &__title {
            right: 20px;
            top: 38px;
            font-size: 148px;
        }
        &__security{
            display: none;
        }
        &__text {
            margin-top: 10px;
        }
    }
    @media(max-width: 767px){
        &__left {
            padding: 18px 0px 0px 0px;
        }
        &__right {
            & span{
                max-width: 80px;
                font-size: 10px;
                line-height: 9px;
                &:before{
                    width: 1.5px;
                }
                &:after{
                    border: 1px solid #E51937;
                    width: 5px;
                    height: 5px;
                }
            }
            & span:nth-child(1){
                margin-top: 4px;
                left: 103px;
                height: 93px;        
                &:before{
                    height: 93px;
                    left: -7px;
                }
                &:after{
                    bottom: -3px;
                    left: -8px;
                }
            }
            & span:nth-child(2){
                top: 100px;
                left: 202.5px;
                height: 42px;
                &:before{
                    height: 42px;
                    left: -7px;
                }
                &:after{
                    bottom: -3px;
                    top: auto;               
                    left: -8.5px;
                }
            }
            & span:nth-child(3){
                bottom: 30px;
                left: 222px;
                max-width: 120px;
                height: 37px;
                &:before{
                    height: 37px;
                    left: -7px;
                    bottom: 32px;
                }
                &:after{
                    top: -36px;
                    left: -9.2px;
                }
            }
        }
        &__section{
            margin-bottom: 0px;
        }
        &__subject {
            margin-bottom: 9px;
        }
        &__text {
            margin-top: 0px; 
        }
        &__ratings{
            display: none;
        }
        &__title{
            font-size: 100px;
            right: 0;
            left: 0;
            top: 70px;
        }
    }
}
.icon-Star {
    font-weight: 800;
}
